{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        
        <div class="row col right">
            {% if perms.delete_user %}
                <a class="btn" href="{% url 'users:delete_user' profile.user.id %}">Delete user</a>
            {% endif %}
            {% if perms.change_user %}
                <a class="btn" href="{% url 'login:edit_user' profile.user.id %}">Edit user</a>
            {% endif %}
            {% if user.id == profile.user.id %}
                 <a class="btn" href="{% url 'login:change_pw' profile.user.id %}">Change password</a>
            {% endif %}
        </div>
        <div class="row">
        <div class="col s6">
            <h3> {{ profile.user }}</h3>
        </div>
        <div class="col">
            <img src="{{ user.proflie.avatar.url }}" width="240">
        </div>
        </div>
        <div class="row">
            <div class="col s4">
                <label for="first-name">First Name: </label>
                <p id="first-name">{{ profile.user.first_name }}</p>
            </div>
            <div class="col s4">
                <label for="last-name">First Name: </label>
                <p id="last-name">{{ profile.user.last_name }}</p>
            </div>
            <div class="col s4">
                <label for="email">First Name: </label>
                <p id="email">{{ profile.user.email }}</p>
            </div>
        </div>
        <br><br>

        {% if assigned_stories %}
            <div class="section">
                <h5>{{ profile }}'s stories</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <div class="collection">
                    
                    {% for s in assigned_stories %}
                        <a class="collection-item avatar" href="{% url 'projects:stories:detail' s.id %}" >
                            <i class="material-icons circle green">assessment</i>
                            <span class="title">{{ s.name }}</span>
                            <p>{{ s.project_code }}</p>
                            <span class="new badge red" data-badge-caption="">{{ s.state }}</span>
                        </a>
                    {% endfor %}        
                </div>
            </div>
        {% endif %}

        {% if epic_owner %}
            <div class="section">
                <h5>{{ profile }}'s epics</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <div class="collection">                   
                    {% for e in epic_owner %}
                        <a class="collection-item avatar" href="{% url 'projects:epics:detail' e.id %}">
                            <i class="material-icons circle purple">crop_din</i>
                            <span class="title">{{ e.name }}</span>
                            <p>{{ e.project_code }}</p>
                        </a>
                    {% endfor %}
                    
                </div>
            </div>
        {% endif %}

        {% if assigned_tasks %}
            <div class="section">
                <h5>{{ profile }}'s tasks</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <div class="collection">
                    
                    {% for t in assigned_tasks %}
                        <a class="collection-item avatar" href="{% url 'projects:tasks:detail' t.id %}" >
                            <i class="material-icons circle blue">bookmark</i>
                            <span class="title">{{ t.name }}</span>
                            <p>{{ t.project_code }}</p>
                            <span class="new badge red" data-badge-caption="">{{ t.state }}</span>
                        </a>
                    {% endfor %}        
                </div>
            </div>
        {% endif %}

        {% if assigned_issues%}
            <div class="section">
                <h5>{{ profile }}'s issues</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <div class="collection">
                    
                    {% for i in assigned_issues %}
                        <a class="collection-item avatar" href="{% url 'projects:issues:detail' i.id %}" >
                            <i class="material-icons circle red">priority_high</i>
                            <span class="title">{{ i.name }}</span>
                            <p>{{ i.project_code }}</p>
                            <span class="new badge red" data-badge-caption="">{{ i.state }}</span>
                        </a>
                    {% endfor %}        
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}