{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        {% if assigned_to or owner_of %}
            <div class="section">
                <h5>My stories</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <div class="collection">
                    
                    {% for s in assigned_to %}
                        <a class="collection-item avatar" href="{% url 'projects:stories:detail' s.id %}" >
                            <i class="material-icons circle green">assessment</i>
                            <span class="title">{{ s.name }}</span>
                            <p>{{ s.project_code }}</p>
                            <span class="new badge red" data-badge-caption="">{{ s.state }}</span>
                            <a class="secondary-content"><i class="material-icons">arrow_forward</i></a>
                        </a>
                    {% endfor %}
                    
                    
                    {% for s in owner_of %}
                        <a class="collection-item avatar" href="{% url 'projects:stories:detail' s.id %}">
                            <i class="material-icons circle green">assessment</i>
                            <span class="title">{{ s.name }}</span>
                            <p>{{ s.project_code }}</p>
                            <span class="new badge red" data-badge-caption="">{{ s.state }}</span>
                            <a class="secondary-content"><i class="material-icons">arrow_forward</i></a>
                        </a>
                    {% endfor %}
                    
                    </div>
            </div>
        {% endif %}

        {% if epic_owner %}
            <div class="section">
                <h5>My epics</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <ul class="collection">                   
                    {% for e in epic_owner %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle purple">crop_din</i>
                            <span class="title">{{ e.name }}</span>
                            <p>{{ e.project_code }}</p>
                            <a href="{% url 'projects:epics:detail' e.id %}" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        {% endif %}

    </div>
{% endblock %}