{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Timesheets {% endblock %}

{%block content%}

<div class="container">
    <div class="row">
        <form method="POST" action="{% url 'users:get_users_worklogs' user.username %}" class="col s6">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="save btn">  
        </form>
    </div>

    <br>
    {% if worklogs %}
        <div class="row">
            <ul class="collection">
            {% for w in worklogs %}    
                <li class="collection-item avatar">
                    <span class="title"><i class="material-icons">work</i></span>
                    <p>{{ w.log_date|date:'Y-m-d' }}: {{ w.logged_hour }} hour</p>
                    <a class="btn-floating right secondary-content" href="{% url 'users:delete_worklog' w.id %}" method="POST">
                        <i class="material-icons">delete</i>
                    </a>
                </li>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p>There are no work logs in this month. </p>
    {% endif %}
    
</div>

{% endblock %}