{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Timesheets {% endblock %}

{%block content%}

<div class="container">
    <div class="row">
        <form method="POST" action="{% url 'users:get_users_worklogs' user.username %}" class="col s6">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="save btn">  
        </form>
        {% if error_msg %}
            <div class="row"><p>{{ error_msg }}</p></div>
        {% endif %}

        <a href="{% url 'users:team_worklogs' %}" class="btn right">Team's work logs</a>
    </div>

    <br>
    {% if daily_worklogs %}
         <ul class="collection">
            <li class="collection-header"><h5>Daily worklogs</h5></li>
            {% for d in daily_worklogs %}    
                <li class="collection-item avatar">
                    <span class="title"><i class="material-icons">work</i></span>
                    <p>{{ d.log_date|date:'Y-m-d' }}: {{ d.logged_hour }} hour</p>
                    <a class="btn-floating right secondary-content" href="{% url 'users:delete_worklog' d.id %}" method="POST">
                        <i class="material-icons">delete</i>
                    </a>
                </li>
            {% endfor %}
    {% endif %}
    <div class="divider"></div>
    <br><br><br>
    {% if worklogs %}
        <div class="row">
            <ul class="collection">
            <li class="collection-header"><h5>{{ worklogs.0.log_date|date:'F' }} </h5></li>
            {% for w in worklogs %}    
                <li class="collection-item avatar">
                    <span class="title"><i class="material-icons">work</i></span>
                    <p>{{ w.log_date|date:'Y-m-d' }}: {{ w.logged_hour }} hour</p>
                    <a class="btn-floating right secondary-content" href="{% url 'users:delete_worklog' w.id %}" method="POST">
                        <i class="material-icons">delete</i>
                    </a>
                </li>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p>There are no work logs in this month. </p>
    {% endif %}
    
</div>

{% endblock %}