<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}Home {% endblock title %} | ScrumHelper</title>
        {% block head_favicon %}
            <!--<link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">-->
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
            {% load static %}
                <link href="{% static '/css/materialize.css' %}"
                      rel="stylesheet" media="screen">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>

    <body>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url 'users:detail'  user.id %}" class="p-r-none">Profile</a></li>
            <li><a href="#!">Timesheet</a></li>
            <li class="divider"></li>
            <li><a href="#!">My open issues</a></li>
        </ul>
        {# Navigation Menu #}
        <nav>
            <div class="nav-wrapper">
              <a href="{% url 'users:index' %}" class="brand-logo left">ScrumHelper</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% block navbar_create %}{% endblock %}
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account <i class="material-icons right">ˇ</i></a></li>
                <li><a href="{% url 'login' %}" method="POST" action="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
        </nav>

        {% block modal %}
        {% endblock %}

        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                Hiba hiba hátán!
            {% endblock content %}
        </div>
        {# The Footer #}
        <footer>
            <div class="container">
                
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2020 ScrumHelper
                </div>
              </div>
        </footer>
    </body>

    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static '/js/materialize.js' %}"></script>
            <script src="{% static '/js/materialize.min.js' %}"></script>
            <script src="{% static '/js/dropdown.js' %}"></script>
            <script src="{% static '/js/modal.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
