<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}Home {% endblock title %} | ScrumHelper</title>
        {% block head_favicon %}
            <!--<link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">-->
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
            {% load static %}
                <link href="{% static '/css/materialize.css' %}"
                      rel="stylesheet" media="screen">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link rel="stylesheet" type="text/css" 
                    href="{% static 'admin/css/widgets.css' %}"/>
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>

    <body>
        <!-- Dropdown Structure -->
        {% if user.is_authenticated %}
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url 'users:detail'  user.username %}" class="p-r-none"><i class="material-icons left">account_circle</i>Profile</a></li>
            <li><a href="{% url 'users:get_users_worklogs' user.username %}">Timesheet</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'users:detail' user.username %}">My open issues</a></li>
        </ul>
        {% endif %}
        {# Navigation Menu #}
        
        <nav>
            <div class="nav-wrapper">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:index' %}" class="brand-logo left">ScrumHelper</a>
                    
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% block navbar_create %}{% endblock %}
                        <li><a href="{% url 'projects:kanban_board' %}">Kanban board</a></li>
                        <li><a href="{% url 'projects:index' %}">Projects</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account <i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="{% url 'login:logout' %}" method="POST" action="{% url 'login:logout' %}">Logout</a></li>
                    </ul>
                {% else %}
                    <a href="#!" class="brand-logo left">ScrumHelper</a>
                {% endif %}
            </div>
        </nav>


        {% block login_form %}
        {% endblock %}

        {% block modal %}
        {% endblock %}

        
        {# The Document Body #}
        {% if user.is_authenticated %}
            <div id="site-wrapper">
                {% block content %}
                    Hiba hiba hátán!
                {% endblock content %}
            </div>
        {% else %}
            {% block login_warn %}
            <div class="container">
                <p> Please <a href="{% url 'login:login' %}">login</a> to use ScrumHelper! </p>
            </div>
            {% endblock login_warn %}
        {% endif %}

        {# The Footer #}
        <footer>
            <div class="container">
                
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2020 ScrumHelper
                </div>
              </div>
        </footer>
    </body>

    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static '/js/materialize.js' %}"></script>
            <script src="{% static '/js/materialize.min.js' %}"></script>
            <script src="{% static '/js/dropdown.js' %}"></script>
            <script src="{% static '/js/modal.js' %}"></script>
            <script src="{% static '/js/actionbutton.js' %}"></script>
            <script type="text/javascript" 
                src="/admin/jsi18n/"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/core.js' %}"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/jquery.init.js' %}"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/actions.js' %}"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/calendar.js' %}"></script>
            <script type="text/javascript" 
                src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
