<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}Home {% endblock title %} | ScrumHelper</title>
        {% block head_favicon %}
            <!--<link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">-->
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
            {% load static %}
                <link href="{% static '/css/bootstrap.min.css' %}"
                      rel="stylesheet" media="screen">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>

    <body>
        {# Navigation Menu #}
        <header>
              <div class="navbar navbar-expand-md fixed-top bg-dark
              {% block nav-style %}navbar-dark{% endblock %}">
                  <div class="container p-none">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                      <div class="navbar-header">
                          <a class="navbar-brand" href="/users/">ScrumHelper</a>
                      </div>
                      <div class="collapse navbar-collapse show">
                          <ul class="nav navbar-nav mr-auto">
                                <li class="nav-item active"><a href="/login/" method="POST" action="{% url 'logout' %}">Logout</a></li>
                                <li class="nav-item"><a href="{% url 'users:detail'  user.id %}" class="p-r-none">Profile</a></li>
                          </ul>
                          <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                      </div>
                  </div>
              </div>
        </header>
        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                Hiba hiba hátán!
            {% endblock content %}
        </div>
        {# The Footer #}
        <div class="footer">
            <div class="container">
                <p>ScrumHelper 2020</p>
            </div>
        </div>
    </body>

    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <!--<script src="{% static '/js/jquery.min.js' %}"></script>-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="{% static '/js/bootstrap.min.js' %}"></script>
            <!--<script src="{% static '/js/app.js' %}"></script>-->
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
