{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block login_form %}
    {% if form.errors %}
    <div class="container">
        <p>Your username and password didn't match. Please try again.</p>
    </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login:login' %}" class="login-form">
        {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="col s6 offset-s3">
                    <label for="uname"><b>{{ form.username.label_tag }}</b></label>
                    <b>{{ form.username }}</b>
                    
                
                    <label for="psw"><b>{{ form.password.label_tag }}</b></label>
                    <b>{{ form.password }}</b>
                    
                        
                    <button type="submit" class="btn">Login</button>
                    <input type="hidden" name="next" value="{{ next }}">
                    <!--
                    <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    -->
                
                    <!--<span><a href="#!">Don't have an account? Register one!</a></span>-->
                </div>
            </div>
        </div>
    </form>

    {% block login_warn %}
    {% endblock %}
{% endblock %}