{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Tasks {% endblock %}

{% block navbar_create %}
<li><a href="{% url 'projects:tasks:task_new' %}" class="btn center">Create task</a></li>
{% endblock %}

{% block content %}
<div class="container">

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a class="btn-floating yellow tooltipped" href="{% url 'projects:tasks:task_edit' task.id %}" data-position="top" data-tooltip="Edit task">
            <i class="material-icons">create</i></a></li>
          {% if perms.delete_task %}<li><a class="btn-floating red tooltipped" href="{% url 'projects:tasks:delete' task.id %}" data-position="top" data-tooltip="Delete task" onclick="M.toast({html: 'task deleted'})"><i class="material-icons">cancel</i></a></li>{% endif %}
          <li><a class="btn-floating blue tooltipped" data-position="top" data-tooltip="Add worklog" href="{% url 'projects:tasks:add_worklog' task.id %}"><i class="material-icons">work</i></a></li>
          <li><a class="btn-floating light-blue tooltipped" data-position="top" data-tooltip="Create task"><i class="material-icons">bookmark</i></a></li>
        </ul>
      </div>

    <div class="row">
      <h4>{{ task.name }}</h4>
      <a class="btn-small red right" href="{% url 'projects:stories:change_state' task.id %}">
        {% if task.state == 'OPEN' %}
          IN PROGRESS
        {% elif task.state == 'IN PROGRESS' %}
          TESTING
        {% elif task.state == 'TESTING' %}
          DONE
        {% elif task.state == 'DONE' %}
          CLOSE
        {% elif task.state == 'CLOSED' %}
          REOPEN
        {% endif %}
      </a>
    </div>

    <div class="row">
        <p>Project: <a href="{% url 'projects:detail' proj.id %}">{{ proj.name }} ({{ proj.code }})</a></p>
    </div>
    <div class="divider"></div>
    <div class="row">
        <p>Owner: <a href="{% url 'users:detail' owner_profile.user.username %}">{{ owner_profile.user.username }}</a></p>
    </div>
    <div class="row">
        <p>Assignee: {% if assignee %}<a href="{% url 'users:detail' assignee.user.username %}">{{ assignee.user }}</a> {% endif %} </p>
    </div><div class="divider"></div>
    <div class="row">
        <p>Epic link: {% if epic %}<a href="{% url 'projects:epics:detail' epic.id %}">{{ epic.name }}</a> {% endif %} </p>
    </div>
    <div class="divider"></div>
    <div class="row">
      <p>Acceptance criteria: {{ task.acceptance }}</p>
    </div>
    <div class="divider"></div>
    <div class="row">
      <p>Descripton: {{ task.description }}</p>
    </div>

    <div class="divider"></div>
    <br><br><br>
    <div class="row">
      <h4>Comments</h4>

      <label>Submit a comment:</label>
      <form method="POST" action="{% url 'projects:tasks:create_comment' task.id %}">
        {% csrf_token %}
        <input type="text" name="comment_txt" class="" placeholder="Add comment">

        <button type="submit" class="btn"><i class="material-icons">insert_comment</i></button>
      </form>

      
      {% if comments %}
        <table>
          <tbody>
          {% for comment in comments %}
            <tr>
              <td><a href="{% url 'users:detail' comment.owner.username %}">{{ comment.owner.username }}</a> <br>(
                {{ comment.created_date }}):
              </td>
              <td>
                {{ comment.text }}
              </td>
              <td>
                <a href="{% url 'projects:tasks:delete_comment' task_id=task.id comment_id=comment.id %}"
                 class="btn-small red" method="POST">
                  <i class="material-icons">close</i>
                 </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

    <br><br><br>
    <div class="row">
      <h4>Work logs</h4>

      <div class="space"></div>
      {% if worklogs %}
        <table>
          <tbody>
          {% for w in worklogs %}
            <tr>
              <td><a href="{% url 'users:detail' w.log_user.user.username %}">{{ w.log_user.user.first_name }} {{ w.log_user.user.last_name }} ({{ w.log_user }})</a> <br>(
                {{ w.log_date|date:'Y-m-d' }}):
              </td>
              <td>
                {{ w.logged_hour }} hours
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

</div>
{% endblock %}