{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block head_css_section %}
    <link href="{% static '/css/scrollable_table.css' %}"
    rel="stylesheet" media="screen">
{% endblock %}

{% block navbar_create %}
    <li><a href="{% url 'projects:project_new' %}" class="btn">Create project</a></li>
{% endblock %}

{% block content %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green">
        <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating yellow tooltipped" href="{% url 'projects:project_edit' project.id %}" data-position="top" data-tooltip="Edit project">
                <i class="material-icons">create</i></a>
            </li>
            <li><a class="btn-floating red tooltipped" href="{% url 'projects:delete' project.id %}" data-position="top" data-tooltip="Delete project"><i class="material-icons">cancel</i></a></li>
            <li><a class="btn-floating blue tooltipped" data-position="top" data-tooltip="Add worklog"><i class="material-icons">work</i></a></li>
            <li><a class="btn-floating purple tooltipped" data-position="top" data-tooltip="Create epic" href="{% url 'projects:epics:epic_new' %}"><i class="material-icons">crop_din</i></a></li>
            <li><a class="btn-floating red tooltipped" data-position="top" data-tooltip="Create issue" href="#!"><i class="material-icons">priority_high</i></a></li>
        </ul>
    </div>

    <div class="container">
        <div class="section">
            <h4>Project details</h4>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>Name: {{ project.name }}</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>Code: {{ project.code }}</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>Owner: <a href="{% url 'users:detail' project.project_owner.id %}">{{ project.project_owner.username }}</a></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>Created date: {{ project.created_date }}</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>Release: {{ project.release }}</p>
        </div>
        <div class="divider"></div>
        <div class="section row col s12">
            <h6>Documentation:</h6> 
            <form method="POST" enctype="multipart/form-data" action="{% url 'projects:upload_doc' project.id %}">
                {% csrf_token %}
                <input type="file" name="documentation">
                <button class="btn-floating circle orange tooltipped" data-tooltip="Attach documentation"  type="submit"><i class="material-icons">attach_file</i></button>
            </form>
            <div class="col s12">
                <label for="docs">Uploaded documents:</label>
                {% if documents_list %}
                    <ul docs>
                    {% for d in documents_list %}
                        <li><a href="{{ d.document.url }}">{{ d }}</a> </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        


        <table class="scrollable">
            <thead  class="scrollable">
                <th>
                    <tr>
                        <td>
                            <h4>Issues, epics, stories, tasks</h4>
                        </td>
                    </tr>
                </th>
            </thead>
            <tbody  class="scrollable">
                <tr>
                    <td>   
                    {% for s in story_list %}
                    
                            <div class="collection">             
                                <a class="collection-item avatar" href="{% url 'projects:stories:detail' s.id %}">
                                    <i class="material-icons circle green">assessment</i>
                                    <span class="title">{{ s.name }} ({{ s.project_code }})</span>
                                    <span class="new badge red" data-badge-caption="">{{ s.state }}</span>
                                </a> 
                            </div>
                        
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
