{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Issues {% endblock %}

{% block navbar_create %}
<!--<li><button class="btn center modal-trigger" data-target="modalCreate" >Create story</button></li>-->
<li><a href="{% url 'projects:issues:issue_new' %}" class="btn center">Create issue</a></li>
{% endblock %}

{% block content %}
<div class="container">

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a class="btn-floating yellow tooltipped" href="{% url 'projects:issues:issue_edit' issue.id %}" data-position="top" data-tooltip="Edit issue">
            <i class="material-icons">create</i></a></li>
          {% if perms.delete_issue %}<li><a class="btn-floating red tooltipped" href="{% url 'projects:issues:delete' issue.id %}" data-position="top" data-tooltip="Delete issue" onclick="M.toast({html: 'Issue deleted'})"><i class="material-icons">cancel</i></a></li>{% endif %}
          <li><a class="btn-floating blue tooltipped" data-position="top" data-tooltip="Add worklog" href="{% url 'projects:stories:add_worklog' issue.id %}"><i class="material-icons">work</i></a></li>
        </ul>
      </div>

    <div class="row">
      <h4>{{ issue.name }}</h4>
      <a class="btn-small red right" href="{% url 'projects:issues:change_state' issue.id %}">
        {% if issue.state == 'OPEN' %}
          IN PROGRESS
        {% elif issue.state == 'IN PROGRESS' %}
          TESTING
        {% elif issue.state == 'TESTING' %}
          DONE
        {% elif issue.state == 'DONE' %}
          CLOSE
        {% elif issue.state == 'CLOSED' %}
          REOPEN
        {% endif %}
      </a>
    </div>

    <div class="row">
        <div class="col s3">
            Project:
        </div>
        <div class="col">
            <a href="{% url 'projects:detail' proj.id %}">{{ proj.name }} ({{ proj.code }})</a>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Owner:
        </div>
        <div class="col">
            <a href="{% url 'users:detail' owner_profile.user.username %}">
                {{ owner_profile.user.username }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Assignee:
        </div>
        <div class="col">
            {% if assignee %}<a href="{% url 'users:detail' assignee.user.username %}">{{ assignee.user }}</a> {% endif %} 
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Epic link:
        </div>
        <div class="col">
            {% if epic %}<a href="{% url 'projects:epics:detail' epic.id %}">{{ epic.name }}</a> {% endif %} 
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Descripton:
        </div>
        <div class="col">
            {{ issue.description }}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Defect type:
        </div>
        <div class="col">
            {{ issue.defect_type }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            Solution:
        </div>
        <div class="col">
            {{ issue.solution }}
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div class="divider"></div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
      <h4>Comments</h4>

      <label>Submit a comment:</label>
      <form method="POST" action="{% url 'projects:issues:create_comment' issue.id %}">
        {% csrf_token %}
        <input type="text" name="comment_txt" class="" placeholder="Add comment">

        <button type="submit" class="btn"><i class="material-icons">insert_comment</i></button>
      </form>

      
      {% if comments %}
        <table>
          <tbody>
          {% for comment in comments %}
            <tr>
              <td><a href="{% url 'users:detail' comment.owner.username %}">{{ comment.owner.username }}</a> <br>(
                {{ comment.created_date }}):
              </td>
              <td>
                {{ comment.text }}
              </td>
              <td>
                <a href="{% url 'projects:issues:delete_comment' issue_id=issue.id comment_id=comment.id %}"
                 class="btn-small red" method="POST">
                  <i class="material-icons">close</i>
                 </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

    <br><br><br>
    <div class="row">
      <h4>Work logs</h4>

      <div class="space"></div>
      {% if worklogs %}
        <table>
          <tbody>
          {% for w in worklogs %}
            <tr>
              <td><a href="{% url 'users:detail' w.log_user.user.username %}">{{ w.log_user.user.first_name }} {{ w.log_user.user.last_name }} ({{ w.log_user }})</a> <br>(
                {{ w.log_date|date:'Y-m-d' }}):
              </td>
              <td>
                {{ w.logged_hour }} hours
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

</div>
{% endblock %}