{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block title %} Stories {% endblock %}

{% block navbar_create %}
<!--<li><button class="btn center modal-trigger" data-target="modalCreate" >Create story</button></li>-->
<li><a href="{% url 'projects:stories:story_new' %}" class="btn center">Create story</a></li>
{% endblock %}

{% block content %}
<div class="container">

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a class="btn-floating yellow tooltipped" href="{% url 'projects:stories:story_edit' story.id %}" data-position="top" data-tooltip="Edit story">
            <i class="material-icons">create</i></a></li>
          <li><a class="btn-floating red tooltipped" href="{% url 'projects:stories:delete' story.id %}" data-position="top" data-tooltip="Delete story"><i class="material-icons">cancel</i></a></li>
          <li><a class="btn-floating blue tooltipped" data-position="top" data-tooltip="Add worklog"><i class="material-icons">work</i></a></li>
          <li><a class="btn-floating light-blue tooltipped" data-position="top" data-tooltip="Create task"><i class="material-icons">bookmark</i></a></li>
        </ul>
      </div>

    <div class="section">
        <h4>{{ story.name }}</h4>
    </div>
    <div class="divider"></div>
    <div class="section">
        <p>Project: <a href="{% url 'projects:detail' proj.id %}">{{ proj.name }} ({{ proj.code }})</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <p>Owner: <a href="{% url 'users:detail' owner_profile.id %}">{{ owner_profile.user.username }}</a></p>
    </div>
    <div class="section">
        <p>Assignee: {% if assignee %}<a href="{% url 'users:detail' assignee.id %}">{{ assignee.user }}</a> {% endif %} </p>
    </div><div class="divider"></div>
    <div class="section">
        <p>Epic link: {% if epic %}<a href="{% url 'projects:epics:detail' epic.id %}">{{ epic.name }}</a> {% endif %} </p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <p>Acceptance criteria: {{ story.acceptance }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <p>Descripton: {{ story.description }}</p>
    </div>

    <div class="divider"></div>
    <div class="section">
      <h4>Comments</h4>

      <label>Submit a comment:</label>
      <form method="POST" action="{% url 'projects:stories:create_comment' story.id %}">
        {% csrf_token %}
        <input type="text" name="comment_txt" class="" placeholder="Add comment">

        <input type="submit" value="submit" class="btn"/>
      </form>

      <div class="space"></div>
      {% if comments %}
        <table>
          <tbody>
          {% for comment in comments %}
            <tr>
              <td><a href="{% url 'users:detail' comment.owner.id %}">{{ comment.owner.username }}</a> <br>(
                {{ comment.created_date }}):
              </td>
              <td>
                {{ comment.text }}
              </td>
              <td>
                <a href="{% url 'projects:stories:delete_comment' story_id=story.id comment_id=comment.id %}" class="btn-floating red" method="POST"><i class="material-icons">close</i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

</div>
{% endblock %}