{% extends 'ScrumHelper/base.html' %}
{% load static %}

{% block navbar_create %}
<!--<li><button class="btn center modal-trigger" data-target="modalCreate" >Create story</button></li>-->
<li><a href="{% url 'projects:stories:story_new' %}" class="btn center">Create story</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="right">
        <a class="btn btn-flat right-align" href="{% url 'projects:stories:story_edit' story.id %}"><i class="material-icons">create</i></a>
    </div>

    <div class="section">
        <p>Name: {{ story.name  }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <p>Project: <a href="{% url 'projects:detail' proj.id %}">{{ proj.name }} ({{ proj.code }})</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <p>Owner: <a href="{% url 'users:detail' owner_profile.id %}">{{ owner_profile.user.username }}</a></p>
    </div>
    <div class="section">
        <p>Assignee: {% if assignee %}<a href="{% url 'users:detail' assignee.id %}">{{ assignee.user }}</a> {% endif %} </p>
    </div>
</div>
{% endblock %}